doctype html
html(lang="pt-br")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Sistema de Autenticação
    link(rel="stylesheet", href="/css/style.css")
  body
    include partials/navbar

    main.container
      if success_msg && success_msg.length > 0
        .alert.alert-success= success_msg
      if error_msg && error_msg.length > 0
        .alert.alert-danger= error_msg
        
      block content

    include partials/footer